{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <!-- Page Title -->
     <div class="pagetitle">
      <h1> Nutrition </h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item ">Module Nutrition</li> 
          <li class="breadcrumb-item active">Recettes</li>
        </ol>
      </nav>
    </div>    
    
    <button class="btn btn-outline-primary"><a href="{{ path('app_name_new') }}">Create new</a></button>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.name }}</td>
                <td>{{ recette.category }}</td>
                <td>{{ recette.date ? recette.date|date('Y-m-d') : '' }}</td>
                <td>{{ recette.description }}</td>
                <td>
                  <button class="btn btn-outline-success"> <a href="{{ path('app_name_show', {'id': recette.id}) }}">show</a></button>
                    <button class="btn btn-outline-primary"><a href="{{ path('app_name_edit', {'id': recette.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
