{% extends 'baseuser.html.twig' %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('groupe_pei/assets_user/css/style.css') }}">
   






   
    <!-- =========== S-TRAINING-SCHEDULE =========== -->

    <section class="s-training-schedule" style="background-image: url({{ asset('groupe_pei//img/bg-table-1.svg') }});">
        <div class="container">
            <h2 class="title-decor">Programme <span> des d'événements </span></h2>
           
            <div class="training-schedule-cover">
                <h3 class="training-schedule-top">Events</h3>
                <div class="training-schedule-table">
                    <table>
                        <thead>
             <tr>
           <th>Adresse</th>
           <th>Nom d'événement</th>
            <th>Description</th>
          
             <th>Nombre maximale de participant</th>

        <th>Date debut</th>
           <th>Date fin</th>
          
          </tr>
     </thead>
           {%for Eventx  in Event %} 
             <tr>
               <td>{{ Eventx.LocalisationE}}</td>
               <td>{{ Eventx.TitreE}}</td> 
			  <td>{{ Eventx.DescriptionE }}</td>
               
            <td>{{ Eventx.NbrmaxP }}</td>
                <td>{{ Eventx.DateDebutE|date("Y-m-d H:i:s ") }}</td>
			    <td>{{ Eventx.DatefinE|date("Y-m-d H:i:s ") }}</td>
              
              
             </tr>
         
    
           
          {% endfor %}
        
                
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- ========= S-TRAINING-SCHEDULE END ========= -->






{% endblock %}