<table border=1>
    <tr>
        <td>id</td>
        <td>picture</td>
        <td>username</td>
        <td>email</td>
        <td>nb_books</td>
        <td>Action</td>
        
    </tr>
    {%set totalBooks=0%}
    {%for a in authors %}
    {%if a.id==id%}
    <tr>
        <td>{{a.id}}</td>
        <td><img src="{{a.picture }}" width="100"></td>
        <td>{{a.username|upper}}</td>
        <td>{{a.email}}</td>
        <td>{{a.nb_books}}</td>
        <td><a href="{{ path('app_list') }}"> Retour</a> </td>
        
    </tr>
    {%endif%}
    {%endfor%}
   
</table>