{% extends 'base_user.html.twig' %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits
    <hr>
    {% if cart is not null and cart|length > 0 %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">produit</th>
                <th></th>
                <th scope="col">quantite</th>
                <th scope="col">Prix</th>
                <th scope="col">Prix_total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for product in cart %}
                <tr>
                    <th>
                        <img src="{{ asset('Uploads/' ~ product.product.illustration) }}" alt="Illustration" style="width:100px">
                    </th>
                    <td>{{ product.product.name }}</td>
                    <td>
                        <a href="{{ path('add_cart_item',{'id':product.product.id}) }}">
                        <img src="{{ asset('assets/img/plus.png') }}" width="10px">
                        </a>
                        x {{ product.quantity }}
                            <a href="{{ path('decrease_produit',{'id':product.product.id}) }}">
                        <img src="{{ asset('assets/img/moin.png') }}"width="30px">
                            </a>
                    </td>
                    <td>{{ product.product.price }}</td>
                    <td>{{ product.product.price * product.quantity }}</td>
                    <td><a href="{{ path('delete_produit',{'id':product.product.id}) }}" class="btn btn-danger btn-block">delete produit</a> </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>

        <br class="text-right mb-5">
        <b>Nombre de produit:</b> {{ cart|length }}</br>
        <b>Total de mon panier:</b> {{ total }}</br>
        <a href="{{ path('app_product_index_front') }}" class="btn btn-warning btn-block">Continuer Achat</a>
        <a href="" class="btn btn-success btn-block">valider panier</a>

        </div>
    {% else %}
        <hr>
        <p>Votre Panier est vide</p>
        <a href="{{ path('app_product_index_front') }}">Retour Liste des Produits</a>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById('product-search').addEventListener('input', function() {
                var searchText = this.value.toLowerCase();
                var rows = document.querySelectorAll(".product-row");
                rows.forEach(function(row) {
                    var productName = row.querySelector('.product-name').textContent.toLowerCase();
                    if (productName.includes(searchText)) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }
                });
            });
        });
    </script>


{% endblock %}
