{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block header %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block body %}



<div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                    <div class="d-flex justify-content-center py-4">
                        <a href="/" class="logo d-flex align-items-center w-auto">
                            <img src="assets/img/logo.png" alt="">
                            <span class="d-none d-lg-block">FitKeep</span>
                        </a>
                    </div><!-- End Logo -->

                    <div class="card mb-3">

                        <div class="card-body">

                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
                                <p class="text-center small">Enter your Email to reset your account</p>
                            </div>

                            {{ form_start(requestForm,{attr:{novalidate:'novalidate'}}) }}


                            <div class="col-12">
                                {{form_label(requestForm.email,"Your Email",{attr:{'class':'form-label'}})}}

                                {{form_widget(requestForm.email,{attr:{'class':'form-control mb-3'}})}}
                                {{form_errors(requestForm.email)}}
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary w-100" type="submit">Reset password</button>
                            </div>
                            <div class="col-12">
                                <p class="small mb-0">return to log in page? <a href="{{path('app_login')}}">Log
                                        in</a>
                                </p>
                            </div>
                            {{form_end(requestForm)}}

                        </div>
                    </div>

                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>
{% endblock %}
