{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Users Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{path('app_dashbord')}}">Home</a></li>
                <li class="breadcrumb-item">Users</li>

            </ol>
        </nav>
    </div><!-- End Page Title -->
    {% for message in app.flashes('notice') %}
    {%if message=="Your changes were not saved. Please check your current password and try again."%}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% else%}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {%endif%}
    {% endfor %}
    <section class="section">
        <div class="row">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Edit Category</h5>


                    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('app_category_index') }}">back to list</a>

                    {{ include('category/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}