{% extends 'base_admin.html.twig' %}
{% block body %}
<section class="section">

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add new recipe</h5>

              <!-- Advanced Form Elements -->
                 {{ form_start(form,{'attr':{novalidate:'novalidate'}}) }}
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <div class="form-floating mb-3">
                    
			            	{% if form_errors(form.name) %}
                    {{ form_widget(form.name,{'attr':{'class': 'form-control is-invalid', 'placeholder': 'Name'}}) }}
                    {% else %}
                    {{ form_widget(form.name,{'attr':{'class': 'form-control', 'placeholder': 'Name'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.name) }}</a>
           
                    </div>
                    <div class="form-floating mb-3" >
                   
				            {% if form_errors(form.category) %}
                    {{ form_widget(form.category,{'attr':{'class': 'form-control is-invalid', 'placeholder': 'Category'}}) }}
                    {% else %}
                    {{ form_widget(form.category,{'attr':{'class': 'form-control', 'placeholder': 'Category'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.category) }}</a>             
                     </div>
                <div class="form-floating mb-3">
                  
				            {% if form_errors(form.description) %}
                    {{ form_widget(form.description,{'attr':{'class': 'form-control is-invalid', 'placeholder': 'Description'}}) }}
                    {% else %}
                    {{ form_widget(form.description,{'attr':{'class': 'form-control', 'placeholder': 'Description'}}) }}
                    {% endif %}
                    <a style="color:red">{{ form_errors(form.category) }}</a>                  </div>
                </div>
                {{ form_end(form) }}
                <div class="d-grid gap-3 mb-3">
                <button class="btn btn-dark" >{{ button_label|default('Save') }}</button>
              </div>
          

              <!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>
{% endblock %}