{% extends 'UserTpl/baseU.html.twig' %}
{% block titleU %}
	formulaire_Activite
{% endblock %}

{% block Userbody %}
<style>



    .option {
        gap: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
    
    .option div {
        cursor: pointer;
        margin-bottom: 20px;
    }
	 .hide-div {
        display: none;
    }

    #edit
    {
        color: #f23849;
    }


</style>
<main id="main" class="main mr-4">
<div class="container">
<section class="section profile">
	<div class="row">


		<div class="col-xl-8" id="user5">

			<div class="card center">
				<div class="card-body pt-3">
					<div class="tab-content pt-2">
						<!-- End Page Title -->
						<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
							<!-- Profile Edit Form -->
						{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
							<div class="row mb-3 hide-div">
								{{ form_label(form.Nom_Activite, 'Nom_Activite', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Nom_Activite,{'attr':{'class': 'form-control gender' ,'value': activite.getNomActivite()}}) }}
									<a style="color:red">{{ form_errors(form.Nom_Activite) }}
									</a>
								</div>
							</div>
							<div class="row mb-3 hide-div">
								{{ form_label(form.Type_Activite, 'Type_Activite', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Type_Activite,{'attr':{'class': 'form-control type-activite-field gender' , 'value': activite.getTypeActivite()}}) }}
									<a style="color:red">{{ form_errors(form.Type_Activite) }}
									</a>
								</div>
							</div>
							<div class="row mb-3">
								{{ form_label(form.Calories_Brules, 'Calories Brules', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Calories_Brules,{'attr':{'class': 'form-control calories-field gender'}}) }}
									<a style="color:red">{{ form_errors(form.Calories_Brules) }}
									</a>
								</div>
							</div>

							<div class="row mb-3">
								{{ form_label(form.Duree_Activite, 'duree Number', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Duree_Activite,{'attr':{'class': 'form-control duree-field gender'}}) }}
									<a style="color:red">{{ form_errors(form.Duree_Activite) }}
									</a>
								</div>
							</div>

							<div class="row mb-3">
								{{ form_label(form.Nb_Series, 'Nombre de Série', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Nb_Series,{'attr':{'class': 'form-control nb-series-field gender'}}) }}
									<a style="color:red">{{ form_errors(form.Nb_Series) }}
									</a>
								</div>
							</div>

							<div class="row mb-3">
								{{ form_label(form.Nb_Rep_Series, 'Nombre de répétition  de série', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Nb_Rep_Series,{'attr':{'class': 'form-control nb-rep-series-field gender'}}) }}
									<a style="color:red">{{ form_errors(form.Nb_Rep_Series) }}
									</a>
								</div>
							</div>

							<div class="row mb-3">
								{{ form_label(form.Poids_Par_Serie, 'Poids par série', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Poids_Par_Serie,{'attr':{'class': 'form-control poids-par-serie-field gender'}}) }}
									<a style="color:red">{{ form_errors(form.Poids_Par_Serie) }}
									</a>
								</div>
							</div>
							<div class="row mb-3 hide-div">
								{{ form_label(form.Image_Activite, 'Image_Activite', {'label_attr': {'class':
                                        'col-md-4
                                        col-lg-3
                                        col-form-label'}}) }}
								<div class="col-md-8 col-lg-9">
									{{ form_widget(form.Image_Activite,{'attr':{'class': 'form-control gender' , 'value': activite.getImageActivite()}}) }}
									<a style="color:red">{{ form_errors(form.Image_Activite) }}
									</a>
								</div>
							</div>
							<div class="btn-form-cover">
								<button type="submit" class="btn">Save</button>
								<!--a href="{#{ path('app_user_select_activite')}#}" class="btn">return to list Activities</a-->
							</div>
							{{ form_end(form) }}
							<!-- End Profile Edit Form -->

						</div>
					</div>
					<!-- End Bordered Tabs -->
				</div>
			</div>
		</div>
	</div>
</section>
</div>
</main>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var caloriesField = document.querySelector('.calories-field');
    var dureeField = document.querySelector('.duree-field');
    var nbSerieField = document.querySelector('.nb-series-field');
    var nbRepSerieField = document.querySelector('.nb-rep-series-field');
    var poidsSerieField = document.querySelector('.poids-par-serie-field');
    var typeActiviteField = document.querySelector('.type-activite-field');
    var originalBorderColorCalories = window.getComputedStyle(caloriesField).borderColor;
    var originalBorderColorDuree = window.getComputedStyle(dureeField).borderColor;
   
    function disableFieldsBasedOnActivityType() {
        var selectedType = typeActiviteField.value;
        if (selectedType === 'musculation') {
            caloriesField.value = "";
            caloriesField.style.borderColor = originalBorderColorCalories;
            dureeField.value = "";
            dureeField.style.borderColor = originalBorderColorDuree;
            caloriesField.disabled = true;
            dureeField.disabled = true;
            nbSerieField.disabled = false;
            nbRepSerieField.disabled = false;
            poidsSerieField.disabled = false;
        } else {
            caloriesField.disabled = false;
            dureeField.disabled = false;
            nbSerieField.value = "";
            nbRepSerieField.value = "";
            poidsSerieField.value = "";
            nbSerieField.disabled = true;   
            nbRepSerieField.disabled = true;
            poidsSerieField.disabled = true;
        }
    };

    // Appel de la fonction une fois que le DOM est chargé
    disableFieldsBasedOnActivityType();

    // Ajout de l'écouteur d'événement sur le champ "typeActiviteField"
   
    typeActiviteField.addEventListener('change', disableFieldsBasedOnActivityType);
});
</script>
{% endblock %}
