{% extends 'UserTpl/baseU.html.twig' %}
{% block titleU %}
    formulaire_Objectif
{% endblock %}
{% block Userbody %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Formulaire d'Objectif</h5>
            </div>
            <div class="card-body">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="form-group">
                    {{ form_row(form.Nom_Objectif, {'attr': {'class': 'form-control nom-objectif-field' , 'disabled': 'disabled'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.Date_objectif, {'attr': {'class': 'form-control date-objectif-field', 'placeholder': 'Date de l\'objectif'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.Note, {'attr': {'class': 'form-control note-field', 'placeholder': 'Note'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.Total_Duree, {'attr': {'class': 'form-control total-duree-field', 'placeholder': 'la total de calories sera calculés automatiquement lorsque vous choisissez des activites' , 'disabled': 'disabled'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.Total_Calories, {'attr': {'class': 'form-control total-calories-field', 'placeholder': 'Total de calories sera calculés automatiquement en fonction de la totl de durée', 'disabled': 'disabled'}}) }}
                </div>
                <div class="form-group">
                 {{ form_row(form.Activites, {'attr': {'style': 'display: none;' },'label':false}) }}
                </div>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">{{ button_label|default('Enrengister') }}</button>
                <a href="{{ path('app_user_objectifs') }}" class="btn btn-secondary">Autre objectif que ca</a>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block Userjs %}
    
{% endblock %}