{% extends 'AdminTpl/baseD.html.twig' %}
{% block Dtitle %}
    Form Activite Physique
{% endblock %}
{% block Adminbody %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Formulaire d'Activité Physique</h5>
            </div>
            <div class="card-body">
                {{ form_start(form,{'attr':{'enctype': 'multipart/form-data', 'novalidate':'novalidate'}}) }}
                <div class="form-group">   
                    {{ form_label(form.Nom_Activite) }}
                    {{ form_widget(form.Nom_Activite, {'attr': {'class': 'form-control nom-activite-field', 'placeholder': 'Nom de l\'activité'}}) }}
                    <a style="color:red"> {{ form_errors(form.Nom_Activite) }}</a>
                </div>
                <div class="form-group">
                   {{ form_label(form.Type_Activite) }}
                    {{ form_widget(form.Type_Activite, {'attr': {'class': 'form-control type-activite-field'}}) }}
                    {{ form_errors(form.Type_Activite, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.Calories_Brules) }}
                    {{ form_widget(form.Calories_Brules, {'attr': {'class': 'form-control calories-field', 'placeholder': 'Calories brûlées', 'data-type': 'musculation cardiovasculaire'}}) }}
                    {{ form_errors(form.Calories_Brules, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.Duree_Activite) }}
                    {{ form_widget(form.Duree_Activite, {'attr': {'class': 'form-control duree-field', 'placeholder': 'Durée de l\'activité', 'data-type': 'musculation cardiovasculaire'}}) }}
                    {{ form_errors(form.Duree_Activite, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.Nb_Series) }}
                    {{ form_widget(form.Nb_Series, {'attr': {'class': 'form-control nb-series-field', 'placeholder': 'Nombre de séries', 'data-type': 'musculation cardiovasculaire'}}) }}
                    {{ form_errors(form.Nb_Series, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.Nb_Rep_Series) }}
                    {{ form_widget(form.Nb_Rep_Series, {'attr': {'class': 'form-control nb-rep-series-field', 'placeholder': 'Nombre de répétitions par série', 'data-type': 'musculation cardiovasculaire'}}) }}
                    {{ form_errors(form.Nb_Rep_Series, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.Poids_Par_Serie) }}
                    {{ form_widget(form.Poids_Par_Serie, {'attr': {'class': 'form-control poids-par-serie-field', 'placeholder': 'Poids par série', 'data-type': 'musculation cardiovasculaire'}}) }}
                    {{ form_errors(form.Poids_Par_Serie, {'attr': {'style' : "color:red"}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.objectifs) }}
                    <div class="row">
                        {% for objective in form.objectifs %}
                            <div class="col-md-6">
                                <div class="form-check">
                                    {{ form_widget(objective) }}
                                    {{ form_label(objective) }}
                                    {{ form_errors(objective) }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.Image_Activite) }}
                    {{ form_widget(form.Image_Activite, {'attr': {'class': 'form-control image-activite'}}) }}
                    {{ form_errors(form.Image_Activite, {'attr': {'style' : "color:red"}}) }}
                </div>
                <br>
                <div class="button-group" style="text-align: center;">
                    <button type="submit" class="btn btn-outline-primary" style="margin-right: 10px;" class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
                    <a href="{{ path('app_activite_physique_index') }}" class="btn btn-outline-secondary" style="margin-left: 10px;">Retour à la liste</a>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}
{% block Adminjs %}
      <script src="{{ asset('Jsmbm/ActivitesChampsC.js') }}"></script> 
{% endblock %}
