{% extends 'dashboard/baseD.html.twig'  %}
{% block title %}
show_Activite_Physique
{% endblock %}
{% block body %}
    <h1>show_Activite_Physique</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_physique.id }}</td>
            </tr>
            <tr>
                <th>Nom_activite</th>
                <td>{{ activite_physique.NomActivite }}</td>
            </tr>
            <tr>
                <th>Type_activite</th>
                <td>{{ activite_physique.typeActivite }}</td>
            </tr>
            <tr>
                <th>Calories_brules</th>
                <td>{{ activite_physique.caloriesBrules }}</td>
            </tr>
            <tr>
                <th>Duree_activite</th>
                <td>{{ activite_physique.dureeActivite }}</td>
            </tr>
            <tr>
                <th>Nb_serie</th>
                <td>{{ activite_physique.nbSerie }}</td>
            </tr>
            <tr>
                <th>Nb_rep_serie</th>
                <td>{{ activite_physique.nbRepSerie }}</td>
            </tr>
            <tr>
                <th>Poids_par_serie</th>
                <td>{{ activite_physique.poidsParSerie }}</td>
            </tr>
            <tr>
                <th>Image_Activte</th>
               <td>
                {% if activite_physique.getImageActivite() %}
                        <img src="{{ asset('Uploads/' ~ activite_physique.getImageActivite())}}" alt="image d'activite" style="width:100px">
                    {% endif %}</td>
                <td>
            </tr>
        </tbody>
    </table>
    <div class="button-group">
    <a href="{{ path('app_activite_physique_edit', {'id': activite_physique.id}) }}" class="btn btn-primary">edit</a>
    <a href="{{ path('app_activite_physique_index') }}" class="btn btn-secondary">back to list</a>
    {{ include('activite_physique/_delete_form.html.twig') }}
    </div>
{% endblock %}
