{% extends 'base.html.twig' %}
{% block title %}
Activitee physique
{% endblock %}
 {% block body%}
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Users Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{path('app_dashbord')}}">Home</a></li>
          <li class="breadcrumb-item">Users</li>
  
        </ol>
      </nav>
    </div><!-- End Page Title -->
    {% for message in app.flashes('notice') %}
    {%if message=="Your changes were not saved. Please check your current password and try again."%}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% else%}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {%endif%}
    {% endfor %}
    <section class="section">
      <div class="row">
  
  
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">ActivitePhysique</h5>
 
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite_physique.id }}</td>
            </tr>
            <tr>
                <th>Nom_Activite</th>
                <td>{{ activite_physique.NomActivite }}</td>
            </tr>
            <tr>
                <th>Type_Activite</th>
                <td>{{ activite_physique.TypeActivite }}</td>
            </tr>
            <tr>
                <th>Duree_Activite</th>
                <td>{{ activite_physique.DureeActivite }}</td>
            </tr>
            <tr>
                <th>Calories_Brules</th>
                <td>{{ activite_physique.CaloriesBrules }}</td>
            </tr>
            <tr>
                <th>Nb_Series</th>
                <td>{{ activite_physique.NbSeries }}</td>
            </tr>
            <tr>
                <th>Nb_Rep_Series</th>
                <td>{{ activite_physique.NbRepSeries }}</td>
            </tr>
            <tr>
                <th>Poids_Par_Serie</th>
                <td>{{ activite_physique.PoidsParSerie }}</td>
            </tr>
            <tr>
                <th>Image_Activte</th>
               <td>
                {% if activite_physique.getImageActivite() %}
                        <img src="{{ asset('Uploads/' ~ activite_physique.getImageActivite())}}" alt="image d'activite" style="width:100px">
                    {% endif %}</td>
                <td>
            </tr>
            <tr>
                <th>Id_Objectifs_associés</th>
                <td>{% for objectif in activite_physique.objectifs %}
                    {{ objectif.id }} - {{ objectif.nomObjectif }}
                    {# Display other properties of the objectif entity as needed #}
                   <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
  <div class="button-group" id="btnnn">
    <a href="{{ path('app_activite_physique_edit', {'id': activite_physique.getId()}) }}" class="btn btn-outline-dark">edit</a>
    <a href="{{ path('app_activite_physique_index') }}" class="btn btn-outline-warning">back to list</a>
    {{ include('activite_physique/_delete_form.html.twig') }}
</div>
</div></div></div></section></main>
{% endblock %}
