<!DOCTYPE html>
<html lang="en">

<head>
<<<<<<< HEAD
	<meta charset="UTF-8">
	<title>FitKeep</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% block css %} {% endblock %}
	<!-- start Main css -->
	<link rel="stylesheet" href="{{ asset('/assets_user/css/style.css') }}">
	<link rel="shortcut icon" href="{{ asset('/assets_user/img/favicon.png') }}">
	<link rel="stylesheet" href="{{ asset('/assets_user/css/slick.min.css') }}">
	
	<link rel="stylesheet" href="{{ asset('/assets_user/css/bootstrap-grid.css') }}">
	<link rel="stylesheet" href="{{ asset('/assets_user/css/font-awesome.min.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
	{% block amine%}
	{%endblock%}

	<!-- =================== STYLE =================== -->
	<style>
		.gender {
			width: 300px;
			height: 70p;
			height: 50px;
			background-color: #272a31;
			border: 0;
			border-bottom: 3px solid #f23849;
			color: white;
			font-family: system-ui;
			font-weight: 600;
		}
	</style>
</head>

<body id="home">
	<!--================ PRELOADER ================-->
	<div class="preloader-cover">
		<div id="cube-loader">
			<div class="caption">
				<div class="cube-loader">
					<div class="cube loader-1"></div>
					<div class="cube loader-2"></div>
					<div class="cube loader-4"></div>
					<div class="cube loader-3"></div>
				</div>
			</div>
		</div>
	</div>
	<!--============== PRELOADER END ==============-->

	<!-- ================= HEADER ================= -->
	<header class="header">
		<a href="#" class="nav-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<div class="top-panel">
			<div class="container">
				<div class="header-left">
					<ul class="header-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a>
						</li>
						<li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 8:00AM - 7:00PM | Sat - Sun:
							Closed</li>
					</ul>
				</div>
				<div class="header-right">
					<form class="search-form">
						<input type="search" class="search-form__field" placeholder="Search" value="" name="s">
						<button type="submit" class="search-form__submit"><i class="fa fa-search"
								aria-hidden="true"></i></button>
					</form>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"
									aria-hidden="true"></i></a></li>

						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>




				</div>

			</div>









		</div>



		<div class="header-menu">
			<div class="container">
				<div class="header-logo">
					<img class="logo" src="{{ asset('assets_user/img/logo.svg')}}" alt="logo"></a>
				</div>
				<nav class="nav-menu">
					<ul class="nav-list">
						<li class="dropdown">
							<a href="#">Home <i class="fa fa-caret-down"></i></a>
							<ul>
								<li class="menu-active"><a href="index-2.html">Crossfit</a></li>
								<li><a href="home-fitness.html">Fitness</a></li>
								<li><a href="home-crossfit-lite.html">Crossfit Lite</a></li>
							</ul>
						</li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li class="dropdown">
							<a href="#">Pages <i class="fa fa-caret-down"></i></a>
							<ul>
								<li><a href="program.html">Program</a></li>
								<li><a href="trainer.html">Trainer</a></li>
							</ul>
						</li>
						<li><a href="blog.html">News</a></li>
						<li><a href="http://127.0.0.1:8000/user/product2">Product</a></li>
						<li><a href="contacts.html">Contacts</a></li>
						<li class="dropdown">
							<a href="#">Porfile <i class="fa fa-caret-down"></i></a>
							<ul>
								<li><a href="{{path('user')}}">Account setting</a></li>
								<li><a href="{{path('app_logout')}}">Logout</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>


	</header>
	<!-- =============== HEADER END =============== -->

	<div class="container">
		<div class="card">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<!-- ================== FOOTER ================== -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 footer-item-logo">
					<a href="index-2.html" class="logo-footer"><img src="{{asset('assets_user/img/footer-logo2.svg')}}"
							alt="logo"></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"
									aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item footer-item-list">
					<h3>Links</h3>
					<ul class="footer-link">
						<li><a href="#">Sed ut perspiciatis unde</a></li>
						<li><a href="#">Omnis iste natus error sit</a></li>
						<li><a href="#">Voluptatem accusantium</a></li>
						<li><a href="#">Doloremque laudantium</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item">
					<h3>Contact us</h3>
					<ul class="footer-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a>
						</li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a
								href="mailto:crossFit@gmail.com">CrossFit@gmail.com</a></li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="contacts.html">London,Street
								225r.21</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item">
					<h3>Blog</h3>
					<ul class="footer-blog">
						<li>
							<a href="blog.html" class="img-cover"><img
									src="{{asset('assets_user/img/footer-icon-1.jpg')}}" alt="img"></a>
							<div class="footer-blog-info">
								<div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
								<p>Omnis iste natus error sit voluptatem…</p>
							</div>
						</li>
						<li>
							<a href="blog.html" class="img-cover"><img
									src="{{asset('assets_user/img/footer-icon-2.jpg')}}" alt="img"></a>
							<div class="footer-blog-info">
								<div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
								<p>Omnis iste natus error sit voluptatem…</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="copyright"><a href="#" target="_blank"></a></div>
				<ul class="footer-menu">
					<li class="active"><a href="index-2.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="blog.html">News</a></li>
					<li><a href="contacts.html">Contacts</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- ================ FOOTER END ================ -->

	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->

</body>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script> 
<script src="{{ asset('/assets_user/js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('/assets_user/js/slick.min.js') }}"></script>
<script src="{{ asset('/assets_user/js/rx-lazy.js') }}"></script>
<script src="{{ asset('/assets_user/js/parallax.min.js') }}"></script>
<script src="{{ asset('/assets_user/js/scripts.js') }}"></script>
<script src="{{ asset('Jsmbm/ObjectifChampsC.js') }}"></script>
{% block js %}{% endblock %}

</html>
=======
    <meta charset="UTF-8">
    <title>FitKeep</title>
    {% block css %}
    <!-- =================== META =================== -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset('assets_user/css/style.css') }}">
    <link rel="shortcut icon" href="{{ asset('assets_user/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('assets_user/css/slick.min.css') }}">
    <link rel="stylesheet" href="{{asset('asset/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('assets_user/css/bootstrap-grid.css') }}">
    <link rel="stylesheet" href="{{ asset('assets_user/css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/favicon.png')}}"/>
    <link rel="stylesheet" href="{{asset('asset/css/animate.min.css')}}">
    <link rel="stylesheet" href="{{asset('asset/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('asset/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('asset/css/slick.min.css')}}">
    <link rel="stylesheet" href="{{asset('asset/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('asset/css/main-color03-green.css')}}">
    <!-- =================== STYLE =================== -->
{% endblock %}
</head>

<body id="home">
<!--================ PRELOADER ================-->
<div class="preloader-cover">
    <div id="cube-loader">
        <div class="caption">
            <div class="cube-loader">
                <div class="cube loader-1"></div>
                <div class="cube loader-2"></div>
                <div class="cube loader-4"></div>
                <div class="cube loader-3"></div>
            </div>
        </div>
    </div>
</div>
<!--============== PRELOADER END ==============-->

<!-- ================= HEADER ================= -->
<header class="header">
    <a href="#" class="nav-btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <div class="top-panel">
        <div class="container">
            <div class="header-left">
                <ul class="header-cont">
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
                    <li><i class="fa fa-clock-o" aria-hidden="true"></i>Mon - Fri: 8:00AM - 7:00PM | Sat - Sun: Closed</li>
                </ul>
            </div>
            <div class="header-right">
                <form class="search-form">
                    <input type="search" class="search-form__field" placeholder="Search" value="" name="s">
                    <button type="submit" class="search-form__submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-menu">
        <div class="container">
            <div class="header-logo">
                <img class="logo" src="{{ asset('assets_user/img/logo.svg')}}" alt="logo"></a>
            </div>
            <nav class="nav-menu">
                <ul class="nav-list">
                    <li class="dropdown">
                        <a href="#">Module Nutrition <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li class="menu-active"><a href={{path ('app_user_reccette_plan')}}>Recettes</a></li>
                            <li><a href={{path ('app_plan_nutritionnel_user')}}>Plan Nutritionnelle</a></li>
                        </ul>
                    </li>
                    <li><a href="{{path ('app_user_interface_plan')}}">plan</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li class="dropdown">
                        <a href="#">Pages <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="program.html">Program</a></li>
                            <li><a href="trainer.html">Trainer</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="/">Product</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- =============== HEADER END =============== -->


{% block content %}
{% endblock %}


<!-- ================== FOOTER ================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 footer-item-logo">
                <a href="index-2.html" class="logo-footer"><img src="{{asset('assets_user/img/footer-logo2.svg')}}" alt="logo"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                <ul class="social-list">
                    <li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item footer-item-list">
                <h3>Links</h3>
                <ul class="footer-link">
                    <li><a href="#">Sed ut perspiciatis unde</a></li>
                    <li><a href="#">Omnis iste natus error sit</a></li>
                    <li><a href="#">Voluptatem accusantium</a></li>
                    <li><a href="#">Doloremque laudantium</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Contact us</h3>
                <ul class="footer-cont">
                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886040">1-800-488-6040</a></li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:crossFit@gmail.com">CrossFit@gmail.com</a></li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="contacts.html">London,Street 225r.21</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3 footer-item">
                <h3>Blog</h3>
                <ul class="footer-blog">
                    <li>
                        <a href="blog.html" class="img-cover"><img src="{{asset('assets_user/img/footer-icon-1.jpg')}}" alt="img"></a>
                        <div class="footer-blog-info">
                            <div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
                            <p>Omnis iste natus error sit voluptatem…</p>
                        </div>
                    </li>
                    <li>
                        <a href="blog.html" class="img-cover"><img src="{{asset('assets_user/img/footer-icon-2.jpg')}}" alt="img"></a>
                        <div class="footer-blog-info">
                            <div class="name"><a href="blog.html">Sed ut perspiciatis</a></div>
                            <p>Omnis iste natus error sit voluptatem…</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright"><a href="#" target="_blank"></a></div>
            <ul class="footer-menu">
                <li class="active"><a href="index-2.html">Home</a></li>
                <li><a href="{{path ('app_user_interface_plan')}}">plan</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="blog.html">News</a></li>
                <li><a href="contacts.html">Contacts</a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- ================ FOOTER END ================ -->

<!--=================== TO TOP ===================-->
<a class="to-top" href="#home">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>
<!--================= TO TOP END =================-->

<!--=================== SCRIPT	===================-->

</body>

<script src="{{ asset('assets_user/js/jquery-2.2.4.min.js') }}"></script>
<script src="{{ asset('assets_user/js/slick.min.js') }}"></script>
<script src="{{ asset('assets_user/js/rx-lazy.js') }}"></script>
<script src="{{ asset('assets_user/js/parallax.min.js') }}"></script>
<script src="{{ asset('assets_user/js/scripts.js') }}"></script>
</html>
>>>>>>> origin/Module_Nutrition
