{% extends 'baseback.html.twig' %}
{% block title %}Ajouter {% endblock %}
{% block body %}


{{ form_start(formB) }}
<table>
<center>


    <tr>
          
        <td>{{form_label(formB.number," numero ticket") }} </td> 
        <td>{{form_widget(formB.number) }} </td> 
		    <td>{{form_errors(formB.number) }} </td> 
    </tr>  

     <tr>
          
                <td>{{form_label(formB.nomx,"Evénement") }} </td> 
                <td>{{form_widget(formB.nomx)}} </td> 
		<td>{{form_errors(formB.nomx) }} </td> 
            </tr> 

</table>
</center>
    <tr>
              
        <tdstyle="text-align: center;">{{form_widget(formB) }} </td> 
				
    </tr>  


{{ form_end(formB) }}
    <h5> Ticket</h5>

    {% if Tickets.image is not null %}
        <img src="{{ asset('/public/images/ticketsevents' ~ Tickets.image) }}" alt="L'image de ticket">
    {% else %}
        <p>No ticket uploaded.</p>
    {% endif %}
{% endblock %}